* {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color:black ;
    color: white;
    padding: 5px;
}
.login-detail{
    display: flex;
    flex-direction: column;
}
.login-detail button{
    background-color: black;
    color: rgb(240, 231, 231);
    width: 80px;
    height: 25px;
    cursor: pointer;
    font-size: 15px;
    border: 1px solid rgb(102, 101, 101);
    border-radius: 4px;
}
.login-detail button:hover{
background-color: rgb(43, 42, 42);
}

.top-bar {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-size: 20px;
}

.heading {
    font-size: 27px;
}

.top-bar i:hover {

    cursor: pointer;
}

.nav-bar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 10px;

}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 17px;

}

.nav-bar a:hover {
    color: rgb(110, 15, 15);
    text-decoration: underline;
}

.firstnews {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    flex: 0 0 90%;
    border: 2px solid black;
}

.first-img {
    width: 50%;
    height: auto;
    max-width: 50%;
    max-height: 100%;
    border: 0 white;
    border-radius: 10px;
    margin: 0;
    
}

h3 {
    text-align: left;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 7px 8px;
    font-weight:700;
    max-width: 100%;
    font-size: 27px;
    color: black;
    margin: 15px 10px;
}

.firstnewstitle {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
}

.firstnews a {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-family: sans-serif;
}

.firstnews a:hover {
    text-decoration: underline;
}


.topNews-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.top {
    border: 1px solid black;
    border-radius: 8px;
    width: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-img {
    margin-top: 10px;
    width: 220px;
    height: auto;
    border: 10px white;
    border-radius: 10px;
}

.top .top-details{
    gap: 0;
   display: flex;
   flex-direction: column;
   align-content: end;
}
.top-details p{
    font-size: 12px;

}

.top-news a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.top-news a:hover {
    text-decoration: underline;
}



.sportsTab {
    display: flex;
    justify-content: space-between;
    background-color: rgba(31, 29, 29, 0.932);
    border: 1px rgba(31, 29, 29, 0.932);
    border-radius: 10px;
    margin: 0 10px;

}

.sportsLeft,
.sportsRight {
    display: grid;
    justify-content: center;
    width: 400px;
    max-width: 400px;
    background-color: rgba(31, 29, 29, 0.932);

    gap: 2px;
}

.sportsLeft img,
.sportsRight img {
    display: flex;
    width: 250px;
    max-width: 300px;
    border: 0px solid grey;
    border-radius: 5px;
}

.sportsLeft a,
.sportsRight a {
    display: flex;
    text-decoration: none;
    width: 250px;
    color: white;

}

.sportsLeft a:hover,
.sportsRight a:hover {
    text-decoration: underline;
}

.sportsTop {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    max-height: 40%;
    width: 440px;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: rgba(31, 29, 29, 0.932);

}

.sportsTop .sportsImg1 {

    width: 100%;
    height: auto;
}

.sportsTop a {
    width: auto;
    align-items: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.sportsTop a:hover {
    text-decoration: underline;
}

.sportsTop p {
    color: white;
    text-align: center;
    font-size: 13px;

}

.categories {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}

.categories h4{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.Health,
.Business,
.technology {
    display: grid;
    align-content: center;
}

.Health img,
.Business img,
.technology img {
    width: 180px;
    height: auto;
    max-height: 100px;
}

.news {
    display: flex;
    flex-direction: row;
}

.news a {
    width: 165px;
    height: auto;
    margin-top: 8px;
    max-height: 100px;

}

.enterNews {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    padding:0;

}

.enterNews::-webkit-scrollbar{
    background-color: transparent;
    border-radius: 20px;
    width: 2px;
    padding-top: 20px;
    
}
.enterNews::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 20px;
}
.enterNews::-webkit-scrollbar-button{
    background-color: transparent;
    color: azure;
}

.entNews {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgb(249, 245, 245);
    backdrop-filter: blur(50px);

    color: black;
    width: 220px;
    height: 280px;
    text-align: center;
    justify-content: space-between;

}

.entNews a {
    text-decoration: none;
    color: black;
    

}
.entNews a:hover {
    text-decoration: underline;

}

.entNews p {
    font-size: 11px;
    color: blue;
    text-align: left;
    cursor: pointer;
}

.entertainment {
    display: flex;
    justify-content: space-between;

}

.entNews img {
    padding-top: 5px;
    width: 210px;
    max-height: 150px;
}


.moreNews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    vertical-align: top;


}

.moreDet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 310px;
    padding-left: 20px;
}
.moreDet a{
    color: black;text-decoration: none;
}

    
.moreDet a:hover {
    text-decoration: underline;
    display: flex;

}

.moreDet p {
    font-size: 11px;
    color: rgb(6, 6, 172);
    cursor: pointer;
}
.moreDet p:hover , .entNews p:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    color: rgb(237, 233, 233);
    height: 200px;
    padding: 10px;
    
}
footer .footer-tab{
    display: flex;
    gap: 15px;
    font-size: 16px;
}
footer .footer-tab a{
    text-decoration: none;
    color: white;
}
footer .footer-tab a:hover{
    text-decoration: underline;
}
footer .logos{
    font-size: 20px;
    word-spacing: 10px;
}
footer .logos i:hover{
    font-size: 18px;
}